.carousel-wrapper {
  width: 900px;
  margin: auto;
}

/* enable 3D space */
.slick-slider {
  perspective: 1200px;
}

/* base slide */
.slide {
  height: 300px;
  background: #3498db;
  border-radius: 10px;

  display: flex !important;
  align-items: center;
  justify-content: center;

  font-size: 40px;
  color: white;

  position: relative;
}

/* dim overlay */
.slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  transition: opacity 0.35s ease;
  border-radius: 10px;
}

.slick-center .slide::after {
  opacity: 0;
}

/* coverflow transform */
.slick-slide {
  transition:
    transform 0.45s ease,
    opacity 0.45s ease;
  transform: scale(0.75);
  opacity: 0.5;
}

/* center slide */
.slick-center {
  transform: scale(1) rotateY(0deg);
  opacity: 1;
  z-index: 2;
}

/* right slide */
/* .slick-slide.slick-active:not(.slick-center) {
  transform: scale(0.85) rotateY(-35deg);
} */

/* arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;

  width: 45px;
  height: 45px;
  border-radius: 50%;

  border: none;
  background: black;
  color: white;
  font-size: 20px;

  cursor: pointer;
}

.arrow.prev {
  left: -60px;
}

.arrow.next {
  right: -60px;
}

/* remove default slick arrow icons */
/* .slick-prev:before,
.slick-next:before {
  display: none;
} */
