/* .slick-container {
  height: 400px;
}

.slick-container .slick-slider,
.slick-container .slick-list,
.slick-container .slick-track,
.slick-container .slick-slide,
.slick-container .slick-slide > div {
  height: 100%;
}

.slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
} */
